@import "../src/Style/common";
@import "../src/Style/login";
@import "../src/Style/alert";
@import "../src/Style/mainMenu";
@import "../src/Style/navbar";
@import "../src/Style/paySecurity";
@import "../src/Style/dataGrid";

html,
body {
  height: 100%;
}
.h100 {
  height: 100%;
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
#main-container {
  overflow: hidden;
}
